*{
  background-color:  #282c34;
  color: white;
}
.App{
  display:flex;
  justify-content: center;
  align-items: center;
}
.container{
  height: 50hw;
  width: 80vw;
  display: grid;
  place-content: center;
  place-items: center;
}


.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    border-radius: 50%;
  }
}

.App-header {
  
  height: 30vh;
  display: flex;
 
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position:relative
}

.App-link {
  color: #61dafb;
}

.loader{
  
   
   height:0.7rem;
   border-radius: 5px;
 
   background-color: rgb(21, 145, 208);
}
.loading{
    height: 50hw;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8088992a

}
.state-Q{
  width:50vw;
   height:0.7rem;
   margin-left: 15vw;

   background-color: azure;
   border-radius: 5px;
  
}
.result{
  display: flex;
  justify-content: space-between;
  margin-left: 15vw;
  width:50vw;

}
.quiz{
  display:grid

}
.btn-Answer{
  height: 2.5rem;
  margin-bottom:10px;
  background-color: rgba(223, 226, 11, 0.862);
  border-radius: 20px;
}

 .btn-AnswerF{
  height: 2.5rem;
  margin-bottom:10px;
  background-color: rgb(199, 19, 19);
  border-radius: 20px;
  margin-left:50px;
}
.btn-AnswerR {
  height: 2.5rem;
  margin-bottom:10px;
  background-color: rgb(17, 215, 63);
  border-radius: 20px;
  margin-left:50px;
} 
.btn-Answer:hover{
  margin-left:50px;
  
  
}
.footer{
  display: flex;
  justify-content: space-between;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}